<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :question_title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :question_text %>
  </div>

  <div class="field">
    <%= form.label :lang_from %>
    <%= form.text_field :lang_from, id: :question_lang_from %>
  </div>

  <div class="field">
    <%= form.label :lang_to %>
    <%= form.text_field :lang_to, id: :question_lang_to %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :question_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
