

<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# form.label :title %>
    <%= form.text_field :title, id: :question_title, placeholder: :title %>
  </div>

  <div class="field">
    <%# form.label :text %>
    <%= form.text_area :text, id: :question_text, placeholder: :text %>
  </div>

<!--
  <div class="field">
    <%= form.label :lang_from %>
    <%= form.text_field :lang_from, id: :question_lang_from %>
  </div>
-->

  <div class="field">
    <%= form.label 'From: ' %>
    <%= form.select(:lang_from, options_for_select(Question::LANG_OPTIONS, selected: form.object.lang_from) ) %>
    <%= form.label 'To: ' %>
    <%= form.select(:lang_to, options_for_select(Question::LANG_OPTIONS, selected: form.object.lang_to)) %>
  </div>


  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit "Post" %>
  </div>
<% end %>
