<% provide(:title, "Confirm") %>

<div class="row">
	<h2 class='col col-md-8 offset-md-2 space-bottom'>Please review your translation request. </h2>
</div>

<div class="row">
	<div class="col col-md-8 offset-md-2">
		<%= form_for @question, :url => questions_path do |f| %>
			<table class="table-bordered">
				<tr>
					<%= f.hidden_field :title %>
					<td>Title:</td>		<td><%= @question.title %></td>
				</tr>

				<tr>
					<%= f.hidden_field :text %>
					<td>Text:</td>		<td><%= simple_format(@question.text) %></td>
				</tr>

				<tr>
					<%= f.hidden_field :lang_from %>
					<td>Language from:</td>		<td><%= @question.lang_from %></td>
				</tr>

				<tr>
					<%= f.hidden_field :lang_to %>
					<td>Language to:</td>		<td><%= @question.lang_to %></td>
				</tr>

				<tr>
					<td >Subtotal:</td>		
					<td class="text-right h4"> 
						¢4 per character.<br>
						<%= @question.text.length %> characters = 
						<h1><%= number_to_currency(@question.text.length * 0.04) %></h1>
						<%= f.hidden_field :price, value: @question.text.length * 0.04 %>
						<%= f.hidden_field :user_id, value: current_user.id %>
					</td>
				</tr>
			</table>
				<br>
				<div style="float: right;" >
					<%= f.submit 'Submit request', :class => 'btn btn-lg btn-primary cursor', style: 'font-size: 20px' %>
				</div>
		<% end %>
	</div>
</div>

