<div class="row justify-content-center space-bottom">
	<div class="col-sm-7 btn-top btn btn-primary btn-block btn-lg">
		<a href="/questions/new">
			<div class="">
				New request
			</div>
		</a>
			<%# link`_to 'New request', new_question_path %>
	</div>
</div>
<div class="row justify-content-center space-bottom">
	<div class='search-wrapper'>
		<%= search_form_for @q, url: search_questions_path, html: { method: :post } do |f| %>
			<%= f.label "From" %>
			<%= f.select :lang_from_eq, options_for_select(Question::LANG_OPTIONS), :include_blank => true %>&#160;&#160;
			<%= f.label "To" %>
			<%= f.select :lang_to_eq, options_for_select(Question::LANG_OPTIONS), :include_blank => true %>
			<%= image_submit_tag('search.png', id: 'search-icon') %>
		<% end %>
		
		<script type="text/javascript">
			$(function() {
				$('#q_lang_to_eq').change(function() {
					this.form.submit();
				});
			});	
		</script>
	</div>
</div>


<div class="row justify-content-center">
	<div class="col-md-10 table-responsive link-yellow">
		<table class="table table-hover">
			<thead>
			<tr>
				<th> </th>
				<th><%= sort_link(@q, :price) %></th>
				<th><%= sort_link(@q, :lang_from, "From") %></th>
				<th><%= sort_link(@q, :lang_to, "To") %></th>
				<th><%= sort_link(@q, :created_at, "Posted") %></th>
				<th>status</th>
			</tr>
			</thead>
			<% @questions.each do |question| %>
				<% next if question.paid != true %> 
				<tr onclick="document.location = '/questions/<%= question.id %>';" class="cursor" >
					<td><%= link_to question.title, question %></td>
					<td class="text-center" ><%= money(question.price) %></td>
					<td><%= question.lang_from %></td>
					<td><%= question.lang_to %></td>
					<td><%= format_time(question.created_at) %></td>
					<% if question.answers.size == 0 %>
						<td>OPEN</td>
					<% else %>
						<td>CLOSED</td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
</div>