<div class="row justify-content-center space-bottom">
	<div class="col-sm-7">
		<div class="btn btn-primary btn-block btn-lg btn-top"><%= link_to 'New request', new_question_path %></div>
	</div>
</div>
<div class="row justify-content-center space-bottom">
	<div class='search-wrapper'>
		<%= search_form_for @q, url: search_questions_path, html: { method: :post } do |f| %>
			<%= f.label "From" %>
			<%= f.select :lang_from_eq, options_for_select(Question::LANG_OPTIONS) %>&#160;&#160;
			<%= f.label "To" %>
			<%= f.select :lang_to_eq, options_for_select(Question::LANG_OPTIONS) %>
			<%= image_submit_tag('search.png', id: 'search-icon') %>
	<% end %>
	</div>
</div>


<div class="row justify-content-center">
	<div class="col-md-8 table-responsive link-yellow">
		<table class="table table-hover">
			<thead>
			<tr>
				<th> </th>
				<th><%= sort_link(@q, :price) %></th>
				<th><%= sort_link(@q, :lang_from) %></th>
				<th><%= sort_link(@q, :lang_to) %></th>
				<th><%= sort_link(@q, :created_at) %></th>
			</tr>
			</thead>
			<% @questions.each do |question| %>
				<tr>
					<td class="col-xs-8"><%= link_to question.title, question %></td>
					<%# question.title %>
					<td class="text-center col-xs-3" ><%= money(question.price) %></td>
					<td><%= question.lang_from %></td>
					<td><%= question.lang_to %></td>
					<td><%= format_time(question.created_at) %></td>
					<%# link_to 'Edit', edit_question_path(question) %>
					<%# link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
				</tr>
			<% end %>
		</table>
	</div>
</div>