<div class="row">
	<div class="col col-md-8 offset-md-2">
		<div class="btn btn-primary btn-block btn-post"><%= link_to 'Ask a question', new_question_path %></div>
	</div>
</div>
<br>

<div class="row">
	<div class="col col-md-8 offset-md-2">
		<h3 class="latest-question">Latest question</h3>
		<h3 class="link-yellow"><%= link_to @questions.first.title, @questions.first %></h3>
		<div class="question-body">
			<a href=/questions/<%= @questions.first.id %>>
				<%= simple_format(@questions.first.text) %>
			</a>
		</div>
		<div class='right'>Posted at: <%= format_time(@questions.first.created_at) %></div>
	</div>
</div>
<br>


<div class="row">
<div class="col col-md-8 offset-md-2">
	<table>
		<% @questions.each do |question| %>
			<% if question == @questions.first %>
				<% next %>
			<% end %>
			<tr>
				<td><%= link_to question.title, question %></td>
				<%# question.title %>
				<td class="text-center">5 answers</td>
				<td><%= format_time(question.created_at) %></td>
				<%# link_to 'Edit', edit_question_path(question) %>
				<%# link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
			</tr>
		<% end %>
	</table>
</div>
</div>


<br>


<br>

<%# link_to 'Log out', destroy_user_session_path, method: :delete %>