<div class="row justify-content-center">
	<div class="col-sm-4">
		<div class="btn btn-primary btn-block btn-lg btn-top"><%= link_to 'New request', new_question_path %></div>
	</div>
</div>
<br>


<div class="row justify-content-center">
	<div class="col-md-8 table-responsive">
		<table class="table table-hover">
			<% @questions.each do |question| %>
				<tr>
					<td class="col-xs-8"><%= link_to question.title, question %></td>
					<%# question.title %>
					<td class="text-center col-xs-3" ><%= money(question.price) %></td>
					<td><%= question.lang_from %> &#9658; <%= question.lang_to %></td>
					<%# link_to 'Edit', edit_question_path(question) %>
					<%# link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
				</tr>
			<% end %>
		</table>
	</div>
</div>


<br>


<br>

<%# link_to 'Log out', destroy_user_session_path, method: :delete %>