<% provide(:title, "Question") %>
<div class='col col-md-8 offset-md-2 link-yellow'>
	
	<div class="row">
		<div class="col-sm-9">
			<h2><%= @question.title %></h2>
		</div>

		<div class="col text-right">
			<h2><%= money(@question.price) %></h2>
		</div>
	</div>

	<div class='row' style='border: 1px solid lightgray; padding: 1em; background-color: white;'>
		<p><%= simple_format(@question.text) %></p>
	</div>

	<div class=" text-right">
		<% if current_user.present? && current_user.id == @question.user_id %>
			<%= link_to '[Delete]', question_path(@question), method: :delete, data: { confirm: "Delete this?"}  %> <br>
		<% end %>
	</div>

	<div class='row'>
		<div class='col'>
			<h4><%= @question.lang_from %> &#9658; <%= @question.lang_to %></h>
		</div>

		<div class='col'>
			<p class=" text-right">
				<strong>requested</strong>
				<%= format_time(@question.created_at) %><br>
					<%= image_tag(check_avatar(@question.user.profile), class: 'avatar-small') %>
				<%= link_to @question.user.username, profile_path(@question.user_id) %>
			</p>
		</div>
	</div>

	<hr>
	
	<% if @question.answers.any? %>
		<h3><br>Translated.</h3>
		<% @question.answers.each do |a| %>
			<p><%= simple_format(a.text) %></p>
			<div class="text-right ">
				<%= format_time(a.created_at) %><br>
					<%= image_tag(check_avatar(a.user.profile), class: 'avatar-small') %>
				<%= link_to a.user.username, profile_path(a.user_id) %>
			</div>
			<hr>
		<% end %>

	<% else %>
		<%= form_for([@question, @question.answers.build]) do |form| %>
			<div class="field">
				<%# form.label :text %>
				<%= form.text_area :text, id: :answer_text, placeholder: 'Your answer', rows: 6, style: "width: 100%;" %>
			</div>

			<div class="field">
				<% if signed_in? %>
					<%= form.hidden_field :user_id, value: current_user.id %>
				<% end %>
			</div>

			<div class="actions">
				<% if signed_in? %>
					<%= form.submit "Answer now and earn #{money(@question.price)}", class: "btn btn-post btn-block btn-lg cursor" %>
				<% else %>
					<div class="text-center h3">
						<%= link_to "Can you translate? Log in now and earn #{money(@question.price)}!", new_user_session_path, class: "text-center" %>
					</div>
				<% end %>
			</div>
		<% end %>
	<% end %>

	<div class="">
		<br>
		<%# link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
		<%= link_to 'Back', questions_path %>
	</div>

	
</div>

