<% provide(:title, "Message thread") %>
<div class="link-yellow col-lg-8 offset-lg-2">
	<div class="row justify-content-center">
		<div class="table-responsive">
			<% @messages.each do |message| %>
				<div class="<%= message.sender == current_user ? 'text-left' : 'text-right' %>">
					<%= message.sender == current_user ? 
					link_to(image_tag(check_avatar(current_user.profile), class: "avatar-small"), profile_path(@profile)) : 
					link_to(image_tag(check_avatar(message.sender.profile), class: "avatar-small"), profile_path(message.sender.id)) %>
					<em><%= message.sender.username %></em>
					<h5 style="margin-top: 20px;"><%= simple_format(message.content) %></h5>
					<small><%= format_time(message.created_at) %></small>
					<hr>
				</div>
			<% end %>
		</div>
	</div>

	<div class="row">
		<%= form_for ([@conversation, @conversation.messages.build]) do |f| %>
			<div class="col">
				<div id="bottom">
					<%= f.text_area :content, rows: 4 %>
				</div>
			</div>
			<div class="col text-right">
				<p><%= f.submit class: 'btn btn-primary cursor' %></p>
			</div>
		<% end %>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= link_to 'Back to all conversations', conversations_path %>
		</div>
	</div>
</div>

