<% provide(:title, "Message thread") %>


<div class="row justify-content-center link-yellow">
	<div class="col-md-8 table-responsive">
		<h1>Messages</h1>
			<% @messages.each do |message| %>
				<div class="<%= message.sender == current_user ? 'text-left' : 'text-right' %>">
					<%= message.sender == current_user ? image_tag(check_avatar(current_user.profile), class: "avatar-small") : image_tag(check_avatar(message.sender.profile), class: "avatar-small") %>
					<em><%= message.sender.username %></em>
					<h5><%= simple_format(message.content) %></h5>
					<small><%= format_time(message.created_at) %></small>
					<hr>
				</div>
			<% end %>

		<%= form_for ([@conversation, @conversation.messages.build]) do |f| %>
			<p>
			<%= f.text_area :content %>
			</p>
			
			<p><%= f.submit %></p>
		<% end %>

		<%= link_to 'New Message', new_conversation_message_path(@conversation) %> |
		<%= link_to 'Back to all conversations', conversations_path %>
	</div>
</div>

<!--
	<%= form_with(url: conversation_messages_path, local: true) do |form| %>

	<div class="field">
		<%= form.label :content %>
		<%= form.text_area :content, id: :message_content %>
		<%= form.text_area :sender_id, id: :message_sender_id %>
		<%= form.text_area :conversation_id, id: :message_conversation_id %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
	<% end %>
-->


