<%= form_with(model: profile, local: true) do |form| %>


	<div class="field">
		<%# form.label :image %><br>
		<%= form.file_field :image %>
	</div>

	<% if @profile.image_data? %>
		<div class="field">
			<%= image_tag @profile.image_url, width: 150 %>
		</div>
		<div class="field">
			Remove attachment: <%= form.check_box :remove_image %>
		</div>
	<% end %>

	<div class="field">
		<%= form.label :bio %><br>
		<%= form.text_area :bio, id: :profile_bio, rows: 5 %>
	</div>

	<div class="field">
		<%= form.hidden_field :user_id, id: :profile_user_id %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
