<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@profile.user_id).username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>
<!--
<p>
  <strong>User:</strong>
  <% @profile.user_id %>
</p>
-->

<%= link_to 'Edit', edit_profile_path(@profile) %>
