<div class="row">
	<div class="col col-md-4 offset-md-1">

		<div class="text-center" >
			<% if @profile.image.present? %>
				<%= image_tag @profile.image_url(:original), class:"avatar" %>
			<% else %>
				<%= image_tag 'default_avatar.jpg', class:"avatar" %>
			<% end %>
		</div>
	</div>

	<div class="col-md-5 link-yellow" >
			<h2 class="profile-username"><%= User.find(@profile.user_id).username %></h2>
			<p><%= simple_format(@profile.bio) %></p>
			<% if current_user.present? && current_user.id == @profile.user_id %>
				<%= link_to 'Edit', edit_profile_path(@profile) %> |
			<% end %>
			<%= link_to 'Back', url_for(:back) %>			
	</div>

</div>
	<!--
	<p>
		<strong>User:</strong>
		<% @profile.user_id %>
	</p>
	-->




