<%= form_with(model: conversation, local: true) do |form| %>
  <% if conversation.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(conversation.errors.count, "error") %> prohibited this conversation from being saved:</h4>

      <ul>
      <% conversation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user1_id %>
    <%= form.text_field :user1_id, id: :conversation_user1_id, value: current_user.id %>
  </div>

  <!--
  <div class="field">
    <%= form.label :user2_id %>
    <%= form.collection_select :user2_id, exclude_self, :id, :username, id: :conversation_user2_id %>
  </div>
  -->
  <div class="field">
    <%= form.label :user2_id %>
    <%= form.text_field :user2_id, id: :conversation_user2_id, value: params[:receiver_id] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
