<p id="notice"><%= notice %></p>

<div class="row justify-content-center link-yellow">
	<div class="col-md-8 table-responsive">
		<h1>Conversations</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Convo id</th>
					<th>with</th>
					<th>Date</th>
				</tr>
			</thead>

			<tbody>
				<% @conversations.each do |conversation| %>
					<tr onclick="document.location = '<%= conversation_messages_path(conversation) %>';" class="cursor" >
						<td><%= link_to conversation.id,  conversation_messages_path(conversation) %></td>

						<% if conversation.user1.id == current_user.id %>
						  <td> 
							<%= image_tag(conversation.user2.profile.image_url, class: "avatar-small") if conversation.user2.profile.image_url.present? %>
							<%= conversation.user2.username %>
						  </td>
						<% else %>
						  <td> <%= image_tag(conversation.user1.profile.image_url, class: "avatar-small") if conversation.user1.profile.image_url.present? %> <%= conversation.user1.username %></td>
						<% end %>

						<td><%= format_time(conversation.updated_at) %></td>
						
					</tr>
				<% end %>
			</tbody>
		</table>

		<br>

		<%= link_to 'New Conversation', new_conversation_path %>

	</div>
</div>