<% provide(:title, "All conversations") %>

<div class="row justify-content-center link-yellow">
	<div class="col-lg-8 table-responsive">
		<h1>Conversations</h1>

		<table class="table table-hover responsive-table">
			<thead>
				<tr>
					<th>id</th>
					<th>with</th>
					<th> </th>
					<th>Message last sent at</th>
				</tr>
			</thead>

			<tbody>
				<% @conversations.each do |conversation| %>
					<tr onclick="document.location = '<%= conversation_messages_path(conversation) %>';" class="cursor" >
						<td><%= link_to conversation.id,  conversation_messages_path(conversation) %></td>

						<% if conversation.user1.id == current_user.id %>
						  <td> 
							<%= image_tag(check_avatar(conversation.user2.profile), class: 'avatar-small') %>
							<%= conversation.user2.username %>
						  </td>
						<% else %>
						  <td> <%= image_tag(check_avatar(conversation.user1.profile), class: "avatar-small") %> <%= conversation.user1.username %></td>
						<% end %>
						<td>
							<%= conversation.messages.any? ? conversation.messages.last.content.truncate(34, separator: ' ') : '(empty)' %>
						</td>
						<td>
							<%= conversation.messages.any? ? format_time(conversation.messages.last.created_at) : '' %>
						</td>
						<td>
							<%= link_to 'delete', conversation_path(conversation), method: :delete, data: { confirm: "Delete this?"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>