<% provide(:title, "Requests") %>

<div class='row'>
	<div class='col-md-8 offset-md-2'>
			<br>
			<h5 id="notice"><%= notice %></h5>
			<p class="alert"><%= alert %></p>
			<h2 class="space-bottom">Your translation requests.</h2>
			<% if unpaid_count > 0 %>
				<p class="space-bottom border h5">
					<%# image_tag 'filename' %>
					You have <span style="color: tomato;"><%= pluralize(unpaid_count, "unpaid request") %>.</span><br>
					 To publish your request(s), please click the "Pay" button.
				</p>
			<% end %>

			<table>
				<thead>
					<tr>
						<th>title</th>
						<th>text</th>
						<th>date</th>
						<th>price</th>
						<th>Status</th>
					</tr>
				</thead>        
				<tbody>
					<% @questions.each do |q| %>
						<tr>
							<td><%= link_to q.title, question_path(q) %></td>
							<td><%= link_to q.text.truncate(34, separator: ' '), question_path(q) %></td>
							<td><%= format_time(q.created_at) %></td>
							<td><%= number_to_currency(q.price) %></td>
							<td>
								<% if q.paid? %>
								<%= image_tag '5paid.png', width: 60 %>
								<% else %>
								<%= link_to 'Pay', new_charge_path(price: q.price, id: q.id), class: 'btn btn-danger' %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>