<header class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "Wordsworth", '/questions', id: "header-logo" %>

    <div class="search-wrapper">
    <%= form_tag(questions_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search...",  style: "margin-bottom: 0px;" %>
        <%= image_submit_tag('search.png', :name => nil, id: 'search-icon') %>
    <% end %>
    </div>
    <nav>
        <ul class="navbar-right list-inline header-menu">
        <% if signed_in? %>

            <!-- if not rendered in Profile show page -->
            <% if @prof_self.nil? %>
                <li class="list-inline-item">
                    <%= link_to image_tag(check_avatar(current_user.profile), class: "avatar-small", 
                    title: current_user.username), profile_path(@profile.id) %>
                </li>
                <li class="list-inline-item"><%# link_to current_user.username, profile_path(@profile.id) %></li>
            <!-- if rendered in Profile show page -->
            <% else %>
                <li class="list-inline-item"><%= link_to image_tag(check_avatar(Profile.find(@prof_self.id)), class:"avatar-small", title: current_user.username), profile_path(@prof_self.id) %></li>
                <li class="list-inline-item"><%# link_to current_user.username, profile_path(@prof_self.id) %></li>
            <% end %>
            <%= link_to image_tag('envelope.png', width: 30, title: 'View messages'), conversations_path %> &#160;&#160;&#160;
            <li class="list-inline-item"><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
        <!-- if not signed in show -->
        <% else %>
            <li class="list-inline-item"><%= link_to "CREATE ACCOUNT",   new_user_registration_path %></li>|
            <li class="list-inline-item"><%= link_to "LOG IN", new_user_session_path %></li>
        <% end %>
        </ul>
    </nav>
</header>
