<header class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "Wordsworth", '/questions', id: "header-logo" %>

    <div class="search-wrapper">
    <%= form_tag(questions_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search...",  style: "margin-bottom: 0px;" %>
        <%= image_submit_tag('search.png', :name => nil, id: 'search-icon') %>
    <% end %>
    </div>
    <nav>
        <ul class="navbar-right list-inline header-menu">
        <% if signed_in? %>
            <% if @profile.image.present? %>
                <li class="list-inline-item"><%= link_to image_tag(@profile.image_url(:small), class:"avatar-small"), profile_path(@profile.id), :title => "Edit / View your profile" %></li>|
            <% else %>
                <li class="list-inline-item"><%= link_to current_user.username, profile_path(@profile.id) %></li>|
            <% end %>
            <li class="list-inline-item"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li class="list-inline-item"><%= link_to "CREATE ACCOUNT",   '#' %></li>|
            <li class="list-inline-item"><%= link_to "LOG IN", new_user_session_path %></li>
        <% end %>
        </ul>
    </nav>
</header>

