<!DOCTYPE html>
<html>
	<head>
		<title>Wordsworth</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<%= favicon_link_tag('favicon.ico') %>
		<link href="https://fonts.googleapis.com/css?family=Tangerine:400,700|Vollkorn:400,600,700" rel="stylesheet">

		<!-- this one is for google -->
        <meta name="description" content="Wordsworth">
        <meta name="author" content="Your business translation portal.">

        <!-- this one (Open Graph) is for facebook, slack etc -->
        <meta property="og:title" content="Wordsworth">
        <meta property="og:description" content="This website is Tomomi's first rails app. She spent hell a lot of hours making this.">
        <meta property="og:image" content="https://wordsworth.herokuapp.com/opengraph_logo.png">
        <meta property="og:url" content="https://wordsworth.herokuapp.com/">

		
		
	</head>

	<body>
		<!-- show header except landing page-->
		<% unless current_page?(root_path) %> 
			<%= render '/layouts/header' %>
			<div class="container">
				<p id="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<%= yield %>
				<br>
				<br>
			</div>
		<% else %>
			<%= yield %>
		<% end %>
	</body>
</html>
